<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devbook - My Profile</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/output.css" />
  </head>
  <body>
    {{ template "navbar" }}
    
    <main class="flex flex-col gap-5 p-5 pt-[4.75rem] w-full min-h-[calc(100vh-3.75rem)]">
      <h2>My Profile</h2>
      <div class="flex flex-col gap-3 p-5 dark:bg-dark_secondary_bg bg-light_secondary_bg rounded-md">
        <h4>{{ .Name }} - {{ .Username }} - Member since: {{ .CreatedAt.Format "01/02/2006" }}</h4>
        <a id="open-modal-followers" class="cursor-pointer" data-toggle="modal" data-target="#modal-followers">
          <p>Followers: {{ len .Followers }}</p>
        </a>
        <a id="open-modal-following" class="cursor-pointer" data-toggle="modal" data-target="#modal-following">
          <p>Following: {{ len .Following }}</p>
        </a>
        
        <div class="flex gap-3">
          <a href="/edit-user">
            <button class="dark:brightness-100 brightness-110 hover:brightness-125">Edit Data</button>
          </a>
          <a href="/update-password">
            <button class="dark:brightness-100 brightness-110 hover:brightness-125">Change Password</button>
          </a>
        </div>
      </div>
      <h2> My Posts </h2>
      {{ range .Posts }}
        {{ template "usersPost" . }}
      {{ else }}
        <p> No posts yet... </p>
      {{ end }}
      <a id="delete-user" class="">
        <button class="bg-light_secondary_bg dark:bg-dark_secondary_bg"> Delete account permanently </button>
      </a>
    </main>
    {{ template "modalFollowers" . }}
    {{ template "modalFollowing" . }}
    {{ template "footer" }}
  </body>
  {{ template "scripts" }}
  <script src="/assets/js/posts.js"></script>
  <script src="/assets/js/user.js"></script>
</html>
