<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devbook - Users</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/output.css" />
  </head>
  <body>
    {{ template "navbar" }}
    <main class="flex flex-col gap-5 p-5 pt-[4.75rem] w-full min-h-[calc(100vh-3.75rem)]">
      <h2>Found Users</h2>
      {{ range . }}
      <div class="flex flex-col gap-3 p-5 dark:bg-dark_secondary_bg bg-light_secondary_bg rounded-md">
        <p>{{ .Name }} - <a href="/users/{{ .ID }}"> {{ .Username }} </a> - Member since: {{ .CreatedAt.Format "01/02/2006" }}</p>
      </div>
      {{ else }}
      <p>No user found.</p>
      {{ end }}
    </main>
    {{ template "footer" }}
  </body>
  {{ template "scripts" }}
</html>
