{{ define "navbar" }}
  <nav class="flex justify-between items-center w-full h-14 px-5 bg-gray-500">
    <div class="flex items-center gap-10">
      <h1 class="text-xl cursor-default">Devbook</h1>
      <div class="sm:flex hidden items-center gap-5">
        <a class="text-lg hover:underline" href="/home"> Home </a>
        <a class="text-lg hover:underline" href="/profile"> My Profile </a>
        <form action="/search-users" method="get">
          <input id="search" required name="user" type="search" placeholder="Search users" class="block w-full h-10 p-2.5 text-sm" />
        </form>
      </div>
    </div>
    <span class="text-xl font-bold hover:underline"> <a href="/logout"> Exit </a> </span>
    <div class="sm:hidden block text-white cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>
  </nav>
{{ end }}
