{{ define "navbar" }}
  <nav class="fixed z-10 flex justify-between items-center w-full h-14 dark:bg-dark_secondary_bg bg-light_secondary_bg">
    <div class="flex items-center gap-10 pl-5">
      <h1 class="text-xl cursor-default">Devbook</h1>
      <div class="sm:flex hidden items-center gap-5">
        <a class="text-lg hover:underline" href="/home"> Home </a>
        <a class="text-lg hover:underline" href="/profile"> My Profile </a>
        <form action="/find-users" method="get">
          <input id="search" required name="user" type="search" placeholder="Search users" class="block w-full h-10 p-2.5 text-sm" />
        </form>
      </div>
    </div>
    <form class="sm:hidden absolute left-1/2 -translate-x-1/2" action="/find-users" method="get">
      <input id="search" required name="user" type="search" placeholder="Search users" class="block w-full h-10 px-2.5 pt-1 text-sm" />
    </form>
    <span class="hidden sm:block pr-5"> 
      <a class="flex items-center gap-1 *:hover:brightness-90" href="/logout"> 
        <i class="fa-solid fa-door-open"></i>
        <p class="text-xl font-bold"> Exit </p> 
      </a> 
    </span>
    <div id="toggle-mobile-menu" class="sm:hidden block text-black dark:text-white cursor-pointer pr-5">
      <i class="fa-solid fa-bars text-xl"></i>
    </div>
    <div id="mobile-menu" class="fixed top-14 flex flex-col dark:bg-dark_secondary_bg bg-light_secondary_bg w-full h-fit px-5 border-y border-gray-600 roudned-b-lg mobileMenuTransition">
      <a class="text-md hover:underline w-full p-2 my-2 dark:bg-dark_bg bg-light_secondary_bg dark:brightness-100 brightness-110 rounded-md" href="/home"> Home </a>
      <a class="text-md hover:underline w-full p-2 mb-2 dark:bg-dark_bg bg-light_secondary_bg dark:brightness-100 brightness-110 rounded-md" href="/profile"> My Profile </a>
      <a class="text-md hover:underline w-full p-2 mb-2 dark:bg-dark_bg bg-light_secondary_bg dark:brightness-100 brightness-110 rounded-md" href="/logout"> Exit </a> 
    </div>
  </nav>
{{ end }}
