{{ define "navbar" }}
  <nav class="flex justify-between items-center w-full h-14 px-5 bg-gray-500">
    <div class="flex items-center gap-10">
      <h1 class="text-xl cursor-default">Devbook</h1>
      <div class="sm:flex hidden items-center gap-5">
        <a class="text-lg hover:underline" href="/home"> Home </a>
        <a class="text-lg hover:underline" href="/profile"> My Profile </a>
        <form action="/find-users" method="get">
          <input id="search" required name="user" type="search" placeholder="Search users" class="block w-full h-10 p-2.5 text-sm" />
        </form>
      </div>
    </div>
    <span class="hidden sm:block"> 
      <a class="flex items-center gap-1 *:hover:brightness-90" href="/logout"> 
        <i class="fa-solid fa-door-open"></i>
        <p class="text-xl font-bold"> Exit </p> 
      </a> 
    </span>
    <div class="sm:hidden block text-white cursor-pointer">
      <i class="fa-solid fa-bars text-xl"></i>
    </div>
  </nav>
{{ end }}
