<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Devbook - Login </title>
  <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
  <div>
    <form class="flex flex-col gap-3 bg-red-500" id="login">
      <input id="email" type="email" placeholder="Type your email" required /> 
      <input id="password" type="password" placeholder="Type your password" required /> 
      <a href="#"> Create your account </a>
      <button type="submit"> Login </button>
    </form>
  </div>  
</body>
</html>